{% comment %}
  Custom Liquid Snippet
  Include this snippet anywhere to add custom liquid code
  Usage: {% render 'custom-liquid', code: '<p>Your HTML/Liquid here</p>' %}
{% endcomment %}

{% if code %}
  {{ code }}
{% endif %}

{% if custom_html %}
  {{ custom_html }}
{% endif %}

{% if custom_css %}
  <style>
    {{ custom_css }}
  </style>
{% endif %}

{% if custom_js %}
  <script>
    {{ custom_js }}
  </script>
{% endif %}
